<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test de la websocket avec SocketIO</title>
</head>

<!-- On importe Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- On importe SocketIO -->
<script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>

<body>

    <h2>
        Chat:
    </h2>
    <br/>
    <textarea disabled id="chatContent" style="width: 500px;height: 100px"></textarea>
    </body>
    </html>

    <hr/>
    <input id="userMessage" type="text"/>
    <button onclick="sendMessage()">Envoyer</button>
    <br/>
    <hr/>

</body>

<script>

    var jwt = null 
    const socket = io("http://localhost:3000");

    socket.on("message_sent", function(data) {
        document.getElementById("chatContent").innerHTML = data;
        var textarea = document.getElementById('chatContent');
        textarea.scrollTop = textarea.scrollHeight;
    })


    function sendMessage() {

                
        axios.post("http://localhost:3000/api/chatting", {}).then(function (response) {

            if (response.data.success == true) {
                var val = document.getElementById("userMessage").value
                 socket.emit("envoyer_dernier_message", val)
            }

        })



    }

    function setJWT(aJwt) {
        jwt = aJwt
        return 
    }


</script>